.logo
{
  background-color: white;
  width: 30%;
  margin-top: 2.5rem;
  display: inline-block;
  text-align: center;
}

.logo .hexagon
{
  display: inline-block;
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -0.4rem;
}

.hexagon > svg
{
  color: var(--text-green);
  height: 2rem;
  width: 2rem;
}

.hexagon > svg:hover
{
  cursor: pointer;
}

.logo > a
{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-left: 1rem;

}

.logo .name
{
  color: var(--text-green);
  font-weight: 900;
}

.logo .title
{
  color: var(--text-orange);
  font-weight: 100;
  font-size: smaller;
}

.navbar
{
    background-color: white;
    display: inline-block;
    width: fit-content;
    float: right;
    margin-top: 2rem;
    margin-right: 8rem;
}

.navbar-button
{
  display: inline-block;
  width: fit-content;
  text-align: center;
  text-size-adjust: 100;
  padding: 0.8rem;
}

.navbar-button:hover
{
  cursor: pointer;
}

.navbar-button > a
{
  color: black;
  text-decoration: none;
  font-weight: 200;
}

.navbar-button > a:hover
{
  color: var(--background-light);
}

.active > a
{
  color: var(--background-light);
}