:root
{
  --background-dark: #1e355a;
  --background-light: #71a5d4;
  
  --text-green: #28c0a7;
  --text-orange: #da733f;

  --grey-dark: #8c8f9a;
  --grey-light: #eae7e7;

  font-family: 'Poppins', sans-serif;
}